Makefile.in
aclocal.m4
autom4te.cache/
configure
example/Makefile.in
example/basiccmdline/Makefile.in
example/compressor/Makefile.in
example/gapcode/Makefile.in
example/nclsimplest/Makefile.in
example/ncltest/Makefile.in
example/normalizer/Makefile.in
example/patristic/Makefile.in
example/phylobaseinterface/Makefile.in
example/splitsinfile/Makefile.in
example/subsetter/Makefile.in
example/translate/Makefile.in
ncl/Makefile.in
test/Makefile.in
config/compile
build
